{% extends 'layout.html.twig' %}

{% block title %}Ajout d'images{% endblock %}

{% block content %}

    <h1 class="heading-1 text-center m-5">Ajouter des images</h1>

        <div class="d-flex justify-content-center">
            {{ form(formImages) }}
        </div>

{% endblock %}
